@import './index-shared.less';
// @import '../../style/index-rtlltr-base.less';

@breadcrumb-prefix-cls: ~'@{ant-prefix}-breadcrumb';

@{L}.@{breadcrumb-prefix-cls} {
  .LTR();
  & .@{breadcrumb-prefix-cls}-link {
    > .@{iconfont-css-prefix} + span {
      margin-left: 4px;
    }
  }

  & .@{breadcrumb-prefix-cls}-overlay-link {
    > .@{iconfont-css-prefix} {
      margin-left: 4px;
    }
  }
}

@{R}.@{breadcrumb-prefix-cls} {
  .RTL();

  & {
    display: flex;
    flex-wrap: wrap;
  }

  & .@{breadcrumb-prefix-cls}-link {
    > .@{iconfont-css-prefix} + span {
      margin-right: 4px;
    }
  }

  & .@{breadcrumb-prefix-cls}-overlay-link {
    > .@{iconfont-css-prefix} {
      margin-right: 4px;
    }
  }
}
