@import './index-shared.less';

// @L: e('.a-ltr');
// @R: e('.a-rtl');

@{L}.@{radio-prefix-cls}-wrapper {
  margin-right: 8px;
}
@{R}.@{radio-prefix-cls}-wrapper {
  margin-left: 8px;
}

//L_____
@{L}.@{radio-prefix-cls}-button-wrapper {
  border-left: 0;

  > .@{radio-prefix-cls}-button {
    margin-left: 0;
  }

  &:not(:first-child) {
    &::before {
      left: -1px;
    }
  }
  &:first-child {
    border-left: @border-width-base @border-style-base @border-color-base;
    border-radius: @border-radius-base 0 0 @border-radius-base;
  }

  &:last-child {
    border-radius: 0 @border-radius-base @border-radius-base 0;
  }

  &:first-child:last-child {
    border-radius: @border-radius-base;
  }

  &-checked:not(.@{radio-prefix-cls}-button-wrapper-disabled) {
    border-color: @radio-dot-color;
    box-shadow: -1px 0 0 0 @radio-dot-color;

    &:hover {
      box-shadow: -1px 0 0 0 @radio-button-hover-color;
    }

    &:active {
      box-shadow: -1px 0 0 0 @radio-button-active-color;
    }
  }

  &-disabled {
    &:first-child {
      border-left-color: @border-color-base;
    }
  }
}

//R_____
@{R}.@{radio-prefix-cls}-button-wrapper {
  border-right: 0;

  > .@{radio-prefix-cls}-button {
    margin-right: 0;
  }

  &:not(:first-child) {
    &::before {
      right: -1px;
    }
  }
  &:first-child {
    border-right: @border-width-base @border-style-base @border-color-base;
    border-radius: 0 @border-radius-base @border-radius-base 0;
  }

  &:last-child {
    border-radius: @border-radius-base 0 0 @border-radius-base;
  }

  &:first-child:last-child {
    border-radius: @border-radius-base;
  }

  &-checked:not(.@{radio-prefix-cls}-button-wrapper-disabled) {
    border-color: @radio-dot-color;
    box-shadow: 1px 0 0 0 @radio-dot-color;

    &:hover {
      box-shadow: 1px 0 0 0 @radio-button-hover-color;
    }

    &:active {
      box-shadow: 1px 0 0 0 @radio-button-active-color;
    }
  }

  &-disabled {
    &:first-child {
      border-right-color: @border-color-base;
    }
  }
}
