@import './index-shared.less';

// @{L}.@{notification-prefix-cls}-notice:not(@{R}) {
@{L}.@{notification-prefix-cls}-notice {
  direction: ltr;
  .@{notification-prefix-cls}-notice {
    &-closable .@{notification-prefix-cls}-notice-message {
      padding-right: 24px;
    }

    &-with-icon .@{notification-prefix-cls}-notice-message {
      margin-left: 48px;
    }

    &-with-icon .@{notification-prefix-cls}-notice-description {
      margin-left: 48px;
    }

    &-icon {
      margin-left: 4px;
    }

    &-close {
      right: 22px;
    }

    &-btn {
      float: right;
    }
  }
}

@{R}.@{notification-prefix-cls}-notice {
  direction: rtl;
  .@{notification-prefix-cls}-notice {
    &-closable .@{notification-prefix-cls}-notice-message {
      padding-left: 24px;
    }

    &-with-icon .@{notification-prefix-cls}-notice-message {
      margin-right: 48px;
    }

    &-with-icon .@{notification-prefix-cls}-notice-description {
      margin-right: 48px;
    }

    &-icon {
      margin-right: 4px;
    }

    &-close {
      left: 22px;
    }

    &-btn {
      float: left;
    }
  }
}
